<template>
    <div class="py-4 bg-light" >
    <div class="container">
      <div class="row" >
        <div class="text-center mx-auto col-md-12">
          <h1 class="mb-3 text-center bg-primary text-light">Nuestro Productos</h1>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <router-link to="/cafetostado" class="navbar-item nav-link">Café Tostado</router-link>
                    <router-link to="/cafeteras" class="navbar-item nav-link">Cafeteras</router-link>
                    <router-link to="/accesorios" class="navbar-item nav-link">Accesorios</router-link>
                    <router-link to="/otrosproductos" class="navbar-item nav-link">Otros Productos</router-link>
                    

                </div>
            </div>
            <form class="form-inline my-2 my-lg-0" method="get" action="/search">
                <input class="form-control mr-sm-2 input" type="text" placeholder="¿Qué buscas?" aria-label="Search" name="query">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <span class="icon">
                        <i class="fa fa-search"></i>
                    </span>
                </button>
            </form>

          </nav>
              <div class=" row p-3 ">
                <div class="row">
                
                <ProductBox 
                  v-for="product in products"
                  v-bind:key="product.id"
                  v-bind:product="product" />
                </div>
              </div>

        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import ProductBox from '@/components/ProductBox'

export default {
    name: 'AllProducts',
    data: function() {
        return {
            products: []
        }
    },
    components: {
        ProductBox
    },
    mounted() {
        document.title = 'Productos | Coffe Trent'
        this.getProducts()
    },
    
    methods: {
        async getProducts() {
            this.$store.commit('setIsLoading', true)

            await axios
                .get('/tienda/all-products/')
                .then(response => {
                this.products = response.data
                })
                .catch(error => {
                    console.log(error)
                })

            this.$store.commit('setIsLoading', false)
    }
    }
}
</script>
  