<template>
    <div class="container">
    <nav class="navbar navbar-light">
        <div class="container d-flex justify-content-center"> <a class="navbar-brand text-primary" href="#">
            <i class="fa d-inline fa-lg fa-shopping-cart"></i>
            <b> Mis compras</b>
        </a> </div>
    </nav>
    <div class="page-cart">
        <div class="columns is-multiline">
            <div class="column is-12">
                <h1 class="title">Carrito de compras</h1>
                <h4> {{ cartTotalLength }} productos en tu carrito.
                </h4>
            </div>

            <div class="column is-12 box">
                <table class="table is-fullwidth" v-if="cartTotalLength">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <CartItem
                            v-for="item in cart.items"
                            v-bind:key="item.product.id"
                            v-bind:initialItem="item"
                            v-on:removeFromCart="removeFromCart" />
                    </tbody>
                </table>

                <p v-else>No tienes ningun producto en el carrito.</p>
            </div>

            <div class="column is-12 box">
                <h2 class="subtitle">Subtotal</h2>
                <h3><strong><t />${{ cartTotalPrice.toFixed(2) }}</strong></h3>
              <template v-if="$store.state.isAuthenticated">
                <router-link to="/carrito/pago" class="btn bg-dark text-white">Pagar</router-link>
              </template>
              <template v-else >
                <router-link to="/user/logIn" class="btn bg-dark text-white">Pagar</router-link>
              </template>
                <br />
                <br />

            </div>
        </div>
    </div>
    </div>
</template>

<script>
import CartItem from '@/components/CartItem.vue'

export default {
    name: 'Cart',
    components: {
        CartItem
    },
    data() {
        return {
            cart: {
                items: []
            }
        }
    },
    mounted() {
        this.cart = this.$store.state.cart
    },
    methods: {
        removeFromCart(item) {
            this.cart.items = this.cart.items.filter(i => i.product.id !== item.product.id)
        }
    },
    computed: {
        cartTotalLength() {
            return this.cart.items.reduce((acc, curVal) => {
                return acc += curVal.quantity
            }, 0)
        },
        cartTotalPrice() {
            return this.cart.items.reduce((acc, curVal) => {
                return acc += curVal.product.price * curVal.quantity
            }, 0)
        },
    }
}
</script>