<template>
    <div class="py-4 bg-light" >
    <div class="container">
      <div class="row" >
        <div class="text-center mx-auto col-md-12">
          <h1 class="mb-3 text-center bg-primary text-light">{{ category.name }}</h1>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <template v-if="category.name!='Café Tostado'">
                    <router-link to="/cafetostado" class="navbar-item nav-link">Café Tostado</router-link>
                  </template>
                  <template v-if="category.name!='Cafeteras'">
                    <router-link to="/cafeteras" class="navbar-item nav-link">Cafeteras</router-link>
                  </template>
                  <template v-if="category.name!='Accesorios'">
                    <router-link to="/accesorios" class="navbar-item nav-link">Accesorios</router-link>
                  </template>
                  <template v-if="category.name!='Otros Productos'">
                    <router-link to="/otrosproductos" class="navbar-item nav-link">Otros Productos</router-link>
                  </template>
                    <router-link to="/productos" class="navbar-item nav-link">Todos los Productos</router-link>
                </div>
            </div>
            <form class="form-inline my-2 my-lg-0" method="get" action="/search">
                <input class="form-control mr-sm-2 input" type="text" placeholder="¿Qué buscas?" aria-label="Search" name="query">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <span class="icon">
                        <i class="fa fa-search"></i>
                    </span>
                </button>
            </form>
          </nav>
           
              <div class=" row p-3 ">
                <div class="row">
                
                <ProductBox 
                  v-for="product in category.products"
                  v-bind:key="product.id"
                  v-bind:product="product" />
                </div>
              </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

import ProductBox from '@/components/ProductBox'

export default {
    name: 'Category',
    components: {
        ProductBox
    },
    data() {
        return {
            category: {
                products: []
            }
        }
    },
    mounted() {
        this.getCategory()
    },
    watch: {
        $route(to, from) {
            if (to.name === 'Category') {
                this.getCategory()
            }
        }
    },
    methods: {
        async getCategory() {
            const categorySlug = this.$route.params.category_slug

            this.$store.commit('setIsLoading', true)

            axios
                .get(`/tienda/products/${categorySlug}/`)
                .then(response => {
                    this.category = response.data

                    document.title = this.category.name + ' | Coffee Trent'
                })
                .catch(error => {
                    console.log(error)

                this.$toast.error('¡Algo salió mal!', {
                    position: 'top',
                    duration: '40000',
                    })
                })

            this.$store.commit('setIsLoading', false)
        }
    }
}
</script>