<template>
    <div class="page-checkout container">
        <div class=""> 
        <div class="columns is-multiline">
            <div class="column is-12">
                <h1 class="title">Facturación</h1>
            </div>

            <div class="column is-12 box">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr
                            v-for="item in cart.items"
                            v-bind:key="item.product.id"
                        >
                            <td>{{ item.product.name }}</td>
                            <td>${{ item.product.price }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>${{ getItemTotal(item).toFixed(2) }}</td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="2">Total</td>
                            <td>{{ cartTotalLength }}</td>
                            <td>${{ cartTotalPrice.toFixed(2) }}</td>
                        </tr>
                    </tfoot>
                </table>
                <p class="bg-dark text-center text-white"> Completa los siguientes campos para terminar tu compra ↓ </p>
            </div>
            
            <div class="column is-12 box">
                <div class="col-lg-6 mx-auto col-10 border rounded-left rounded-right rounded-top rounded-bottom pb-0 p-5" style="	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat; columns is-multiline">
                <h2 class="subtitle">Detalles de envio y datos de facturación</h2>

                <p class="has-text-grey mb-4">* Todos los campos son requeridos</p>

                    <div class="column is-6">
                        <div class="field">
                            <label>* Nombres</label>
                            <div class="">
                                <input type="text" class="form-control input" v-model="first_name">
                            </div>
                        </div>

                        <div class="field">
                            <label>* Apellidos</label>
                            <div class="">
                                <input type="text" class="form-control input" v-model="last_name">
                            </div>
                        </div>

                        <div class="field">
                            <label>* Correo</label>
                            <div class="">
                                <input type="email" class="form-control input" v-model="email">
                            </div>
                        </div>

                        <div class="field">
                            <label>* Teléfono</label>
                            <div class="">
                                <input type="text" class="form-control input" v-model="phone">
                            </div>
                        </div>
                    </div>

                    <div class="column is-6">
                        <div class="field">
                            <label>* Dirección*</label>
                            <div class="">
                                <input type="text" class="form-control input" v-model="address">
                            </div>
                        </div>

                        <div class="field">
                            <label>* Código Postal*</label>
                            <div class="">
                                <input type="text" class="form-control input" v-model="zipcode">
                            </div>
                        </div>

                        <div class="field">
                            <label>* Ciudad*</label>
                            <div class="">
                                <input type="text" class="form-control input" v-model="place">
                            </div>
                        </div>
                    </div>
                    <div class="notification is-danger mt-4" v-if="errors.length">
                    <p v-for="error in errors" v-bind:key="error">{{ error }}</p>
                    </div>
                    <br />
                    <template v-if="cartTotalLength">
                        <button class="btn-secondary btn text-white" @click="submitForm">Finalizar compra</button>
                    </template>
                </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'Checkout',
    data() {
        return {
            cart: {
                items: []
            },

            first_name: '',
            last_name: '',
            email: '',
            phone: '',
            address: '',
            zipcode: '',
            place: '',
            errors: []
        }
    },
    mounted() {
        document.title = 'Zona de pago | Coffee Trent'

        this.cart = this.$store.state.cart
    },
    methods: {
        getItemTotal(item) {
            return item.quantity * item.product.price
        },
        submitForm() {
            this.errors = []

            if (this.first_name === '') {
                this.errors.push('Falta añadir los nombre!')
            }

            if (this.last_name === '') {
                this.errors.push('Faltan tus apellidos!')
            }

            if (this.email === '') {
                this.errors.push('Olvidaste incluir tu e-mail!')
            }

            if (this.phone === '') {
                this.errors.push('Olvidaste incluir tu número de teléfono!')
            }

            if (this.address === '') {
                this.errors.push('Falta tu dirección')
            }

            if (this.zipcode === '') {
                this.errors.push('Incluye tu código postal!')
            }

            if (this.place === '') {
                this.errors.push('Faltó incluir la ciudad!')
            }

            if (!this.errors.length) {
                this.$store.commit('setIsLoading', true)
                this.stripeTokenHandler()
            }
        },
        async stripeTokenHandler() {
            const items = []

            for (let i = 0; i < this.cart.items.length; i++) {
                const item = this.cart.items[i]
                const obj = {
                    product: item.product.id,
                    quantity: item.quantity,
                    price: item.product.price * item.quantity
                }

                items.push(obj)
            }

            const data = {
                'first_name': this.first_name,
                'last_name': this.last_name,
                'email': this.email,
                'address': this.address,
                'zipcode': this.zipcode,
                'place': this.place,
                'phone': this.phone,
                'items': items,
            }

            await axios
                .post('/tienda/checkout/', data)
                .then(response => {
                    this.$store.commit('clearCart')
                    this.$router.push('/carrito/hecho')
                })
                .catch(error => {
                    this.errors.push('Something went wrong. Please try again')

                    console.log(error)
                    console.log(data)
                })

                this.$store.commit('setIsLoading', false)
        }
    },
    computed: {
        cartTotalPrice() {
            return this.cart.items.reduce((acc, curVal) => {
                return acc += curVal.product.price * curVal.quantity
            }, 0)
        },
        cartTotalLength() {
            return this.cart.items.reduce((acc, curVal) => {
                return acc += curVal.quantity
            }, 0)
        }
    }
}
</script>