<template>
    <div class="text-md-right text-right text-lowercase w-100 h-75 m-0 mom" style=""	>
    <div >
      <div class="row w-100 h-100" >
        <div class="mx-md-0 ml-md-auto offset-md-8 text-right text-uppercase p-5 pr-0" >
          <h3 class="text-light display-3 w-100">
            <strong style="background-color:rgba(0, 0, 0, 0.7);">¿Quienes Somos?</strong>
          </h3>
          <p class="lead text-light text-right text-capitalize px-2 p-0 w-100 h-25" >
            <strong style="background-color:rgba(0, 0, 0, 0.7);">
              Somos el resultado del trabajo de más de 540.000 familias&nbsp;<br>
              caficultoras colombianas que han cautivado al mundo&nbsp;<br>
              con el café de la mejor calidad.</strong></p>
          <br />
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-outline-light">
  </a>
  <div class="py-4 bg-light" >
    <div class="container">
      <div class="row" >
        <div class="text-center mx-auto col-md-12">
          <h1 class="mb-3 text-center bg-primary text-light">Nuestro Productos</h1>
              <div class=" row p-3 ">
                <div class="row">
                
                <ProductBox 
                  v-for="product in latestProducts"
                  v-bind:key="product.id"
                  v-bind:product="product" />
                </div>
              </div>
          <router-link to="/productos" class="btn text-withe btn-info  active m-3">Ver todos los productos</router-link>
        </div>
      </div>
    </div>
  </div>
  <div class="py-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-12 text-center">
          <h1 class="mb-4 text-light bg-primary">Testimonios</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 ">
          <div class="row mb-4 ">
            <div class="col-3" > <img class="img-fluid d-block mx-auto rounded-circle" src="../assets/img/person_5.jpeg" width="100" alt="Card image cap"> </div>
            <div class="col-9">
              <h4> <strong>Johann</strong> - Agricultora&nbsp;</h4>
              <p class="mb-0">Llevo 20 años trabajando en esta hermosa empresa, cultivan y recogiendo nuestro café de excelente calidad , este hermoso trabajo me ha dado la posibilidad de darle un mejor futuro a mi familia&nbsp;</p>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-3"> <img class="img-fluid d-block mx-auto rounded-circle" src="../assets/img/person_3.jpeg" width="100" alt="Card image cap"> </div>
            <div class="col-9">
              <h4> <strong>Gregory</strong> - Agricultore</h4>
              <p class="mb-0" >Llevo 20 años trabajando en esta hermosa empresa, cultivan y recogiendo nuestro café de excelente calidad , este hermoso trabajo me ha dado la posibilidad de darle un mejor futuro a mi familia&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row mb-4">
            <div class="col-3"> <img class="img-fluid d-block mx-auto rounded-circle" src="../assets/img/person_4.jpeg" width="100" alt="Card image cap"> </div>
            <div class="col-9">
              <h4> <strong>Sara</strong> - Agricultor</h4>
              <p class="mb-0">Llevo 20 años trabajando en esta hermosa empresa, cultivan y recogiendo nuestro café de excelente calidad , este hermoso trabajo me ha dado la posibilidad de darle un mejor futuro a mi familia&nbsp;</p>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-3"> <img class="img-fluid d-block mx-auto rounded-circle" src="../assets/img/person_2.jpeg" width="100" alt="Card image cap"> </div>
            <div class="col-9">
              <h4> <strong>Anita</strong> - Agricultor</h4>
              <p class="mb-0">Llevo 20 años trabajando en esta hermosa empresa, cultivan y recogiendo nuestro café de excelente calidad , este hermoso trabajo me ha dado la posibilidad de darle un mejor futuro a mi familia&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import ProductBox from '@/components/ProductBox'
export default {
    name: "Home",
    data: function(){
        return {
            username: localStorage.getItem('username') || "none",
            latestProducts: []
        }
    },
    components: {
    ProductBox
  },
  mounted() {
    this.getLatestProducts()

    document.title = 'Home | Coffe Trent'
  },
  methods: {
    async getLatestProducts() {
      this.$store.commit('setIsLoading', true)

      await axios
        .get('/tienda/home-products/')
        .then(response => {
          this.latestProducts = response.data
        })
        .catch(error => {
          console.log(error)
        })

      this.$store.commit('setIsLoading', false)
    }
  }
}

</script>

<style>
 
</style>