<template>
<div class="text-center my-0 p-0 py-2 log-fondo" style="	">
    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
      <div class="row">
        <div class="col-lg-6 mx-auto col-10 border rounded-left rounded-right rounded-top rounded-bottom pb-0 p-5" style="	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;" >
          <h2 class="mb-4" style=""><b>Inicio de Sesión</b></h2>
          <h5 class="text-left text-body">Ingresa tus datos: </h5>
          <form @submit.prevent="submitForm">
            <div class="form-group"> 
              <div class="form-group mb-3"> 

              <div class="field">
                  <div class="control">
                      <input type="text" class="form-control" placeholder="Usuario" v-model="username">
                  </div>
              </div> 
              <br />
              <div class="field">
                  <div class="control">
                      <input type="password" class="form-control" placeholder="Contraseña" v-model="password">
                  </div>
              </div>
              </div>
              <small class="form-text text-muted text-right">
                <a href="#" class="text-dark">¿Olvidaste tu contraseña?</a>
              </small>
              <div class="notification is-danger" v-if="errors.length">
                  <p style="color:#000;" v-for="error in errors" v-bind:key="error">{{ error }}</p>
              </div>
              </div> <button type="submit" class="btn btn-primary" style="opacity: 0.;">INGRESAR</button>
          </form>
          <h5 class="mt-4 text-center">¿Aún no estás registrado?</h5>
          <router-link to="/user/signUp" class="btn btn-secondary text-white">Registrate Aquí</router-link>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 my-3"></div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'logIn',
    data() {
        return {
            username: '',
            password: '',
            errors: []
        }
    },
    mounted() {
        document.title = 'Log In | Coffe Trent'
    },
    methods: {
        async submitForm() {
            axios.defaults.headers.common["Authorization"] = ""

            localStorage.removeItem("token")

            const formData = {
                username: this.username,
                password: this.password
            }

            await axios
                .post("/tienda/token/login/", formData)
                .then(response => {
                    const token = response.data.auth_token

                    this.$store.commit('setToken', token)
                    
                    axios.defaults.headers.common["Authorization"] = "Token " + token

                    localStorage.setItem("token", token)

                    const toPath = this.$route.query.to || '/carrito'

                    this.$router.push(toPath)
                })
                .catch(error => {
                    if (error.response) {
                        for (const property in error.response.data) {
                            this.errors.push(`${property}: ${error.response.data[property]}`)
                        }
                    } else {
                        this.errors.push('Something went wrong. Please try again')
                        
                        console.log(JSON.stringify(error))
                    }
                })
        }
    }
}
</script>

