<template>
<div class="nos-fondo">
<div class="py-3 text-light" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-6" style=""><img class="img-fluid d-block" src="../assets/img/nosotros1.jpeg"></div>
        <div class="px-md-5 p-3 col-md-6 d-flex flex-column align-items-start justify-content-center bg-light text-dark" style="">
          <h1 class="text-right w-100">Nuestra Visión&nbsp;</h1>
          <p class="mb-3 lead w-100 text-right text-capitalize">Ser la marca colombiana más reconocida en el mundo, por su crecimiento saludable y su impacto sostenible.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2 text-light" style="">
    <div class="container">
      <div class="row">
        <div class="px-md-5 p-3 col-md-6 d-flex flex-column align-items-start justify-content-center bg-light text-dark" style="">
          <h1>Nuestra Misión&nbsp;</h1>
          <p class="mb-3 lead">Cautivamos al mundo con los cafés premium de Colombia generando valor a los caficultores colombianos.</p>
        </div>
        <div class="col-md-6"><img class="img-fluid d-block" src="../assets/img/nosotros2.jpeg"></div>
      </div>
    </div>
  </div>
  </div>
    
</template>
<script>

export default ({
    name: 'Nosotros',
    mounted() {
        document.title = 'Nosotros | Coffe Trent'
    },
})
</script>
