<template>
<div class="text-center bg-light text-white m-0 my-0 py-3 pb-0 reg-fondo" style="	">
    <div class="container">
      <div class="row">
        <div class="col-md-12 my-1"></div>
      </div>
      <div class="row">
        <div class="col-lg-6 mx-auto col-10 border rounded-left rounded-right rounded-top rounded-bottom pb-0 p-5" style="	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
          <h1 class="mb-4 text-body">
            <font color="#151515">Registrarse</font>
          </h1>
          <h5 class="text-left text-body">Ingresa tus datos</h5>
          <form @submit.prevent="submitForm">
            <div class="form-group">
                <label>Usuario</label>
                    <div class="control">
                        <input type="text" class="input form-control" placeholder="Usuario" v-model="username">
                    </div> 
            </div>
            <div class="form-group">
                <div class="control">
                    <input type="password" class="input form-control" placeholder="Contraseña" v-model="password">
                </div>
            </div>
            <div class="form-group">
                <div class="control">
                    <input type="password" class="input form-control" placeholder="Repite la constraseña" v-model="password2">
                </div>
            </div>

            <div class="form-group"> 
                <input type="email" class="form-control" placeholder="Correo electrónico" v-model="email"> 
            </div>
            <div class="notification is-danger" v-if="errors.length">
                <p style="color:#000;" v-for="error in errors" v-bind:key="error">{{ error }}</p>
            </div>
            <div class="field">
            <div class="control">
                <button class="btn btn-primary">REGISTRARSE</button>
                </div>
            </div>
            <br/>
            <p style="color:#000;">O da <router-link style="color:red;" to="/user/logIn">click aquí</router-link> para logearte</p>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'SignUp',
    data() {
        return {
            username: '',
            password: '',
            password2: '',
            email:'',
            errors: []
        }
    },
    mounted() {
        document.title = 'Registro | Coffe Trent'
    },    
    methods: {
        submitForm() {
            this.errors = []

            if (this.username === '') {
                this.errors.push('Es necesario añadir user name')
            }

            if (this.password === '') {
                this.errors.push('La contraseña es demasiado corta')
            }

            if (this.password !== this.password2) {
                this.errors.push('Las contraseñas no coinciden')
            }

            if (!this.errors.length) {
                const formData = {
                    email: this.email,
                    username: this.username,
                    password: this.password
                }

                axios
                    .post("/tienda/users/", formData)
                    .then(response => {
                        this.$toast.success('¡Cuenta creada por favor logeate!', {
                            position: 'top',
                            duration: '40000',
                        }),

                        this.$router.push('/user/logIn')
                    })
                    .catch(error => {
                        if (error.response) {
                            for (const property in error.response.data) {
                                this.errors.push(`${property}: ${error.response.data[property]}`)
                            }

                            console.log(JSON.stringify(error.response.data))
                        } else if (error.message) {
                            this.errors.push('Algo salió mal, intentalo de nuevo más tarde')
                            
                            console.log(JSON.stringify(error))
                        }
                    })
            }
        }
    }
}
</script>