<template>

    <div class="text-center my-0 p-0 py-2" style="	background-image: url(&quot;img/fotologin.jpg&quot;);	background-size: 105%;	background-position: center;	background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
      <div class="row">
        <div class="col-lg-6 mx-auto col-10 border rounded-left rounded-right rounded-top rounded-bottom pb-0 p-5" style="	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;" >
          <h2 class="mb-4" style=""><b>Inicio de Sesión</b></h2>
          <h5 class="text-left text-body">Ingresa tus datos: </h5>
          <form v-on:submit.prevent="processLogInUser">
            <div class="form-group"> 
              <input type="text" v-model="user.username" class="form-control" placeholder="Usuario" id="form9"> </div>
            <div class="form-group mb-3"> 
              <input type="password" v-model="user.password" class="form-control" placeholder="Contraseña" id="form10" > 
              <small class="form-text text-muted text-right">
                <a href="#" class="text-dark">¿Olvidaste tu contraseña?</a>
              </small> </div> <button type="submit" class="btn btn-primary" style="opacity: 0.;">INGRESAR</button>
          </form>
          <h5 class="mt-4 text-center">¿Aún no estás registrado?</h5>
          <a class="btn btn-secondary text-white" v-if="!is_auth" v-on:click="loadSignUp">Registrate AQUÍ</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 my-3"></div>
      </div>
    </div>
    
  </div>

</template>




<script>
import axios from 'axios';

export default {
    name: "LogIn",

    data: function(){
        return {
            user: {
                username:"",
                password:""
            }
        }
    },

    methods: {
        loadSignUp: function(){
         this.$router.push({name: "signUp"})
        },
        processLogInUser: function(){
            axios.post(
                "https://coffee-trent.herokuapp.com/login/", 
                this.user,  
                {headers: {}}
                )
                .then((result) => {
                    let dataLogIn = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    
                    this.$emit('completedLogIn', dataLogIn)
                })
                .catch((error) => {
                    
                    if (error.response.status == "401")
                        alert("ERROR 401: Credenciales Incorrectas.");
                    
                });
        }
    }
}
</script>