<template>
    <div class="col-lg-4 col-md-6 p-4">
            <figure class="image mb-4">
                <img v-bind:src="product.get_thumbnail">
            </figure>

            <h4 class="text-center ">{{ product.name }}</h4>
            <p class="text-center mb-0 ">${{ product.price }}</p>

            <router-link v-bind:to="product.get_absolute_url" class="btn btn-success mb-0"> Detalles</router-link>
    </div>
</template>

<script>
export default {
    name: 'ProductBox',
    props: {
        product: Object
    }
}
</script>

<style scoped>
  .image {
    margin-top: 1.25rem;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
  h3 {
    margin-left: 2.25rem;
  }
</style>