<template>
    <div class="text-center bg-light text-white m-0 my-0 py-3 pb-0" style="	background-image: url(img/fotoregistro.jpg);	background-position: center;	background-size: 100%;	background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 my-1"></div>
      </div>
      <div class="row">
        <div class="col-lg-6 mx-auto col-10 border rounded-left rounded-right rounded-top rounded-bottom pb-0 p-5" style="	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
          <h1 class="mb-4 text-body">
            <font color="#151515">Registrarse</font>
          </h1>
          <h5 class="text-left text-body">Ingresa tus datos</h5>
          <form>
            <div class="form-group"> <input type="text" class="form-control" id="form13" placeholder="Nombre"> </div>
            <div class="form-group"> <input type="email" class="form-control" placeholder="Correo electrónico" id="form14"> </div>
            <div class="form-group"> <input type="password" class="form-control" placeholder="Contraseña" id="form15"> <small class="form-text text-muted text-right"></small> </div>
          </form><a class="btn btn-primary" href="#">REGISTRARSE</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 my-0 mb-4"></div>
      </div>
    </div>
  </div>
    <!-- <div class="signUp_user">
        <div class="container_signUp_user">
            <h2>Registrarse</h2>

            <form v-on:submit.prevent="processSignUp" >
                <input type="text" v-model="user.username" placeholder="Username"
                ><br>

                <input type="password" v-model="user.password" placeholder="Password">
                <br>
        
                <input type="text" v-model="user.name" placeholder="Name">
                <br>
        
                <input type="email" v-model="user.email" placeholder="Email">
                <br>
                <input type="number" v-model="user.account.balance" placeholder="Initial Balance">
                <br>

               <button type="submit">Registrarse</button>
           </form>
        </div>
    </div> -->
</template>

<script>
import axios from 'axios';
export default {
    name: "SignUp",
    data: function(){
        return {
            user: {
                username: "",
                password: "",
                name: "",
                email: "",
                account: {
                    lastChangeDate: (new Date()).toJSON().toString(),
                    balance: 0,
                    isActive: true
                }
            }
        }
     },

     methods: {
         processSignUp: function(){
             axios.post(
                 "https://mision-tic-bank-be.herokuapp.com/user/",
                 this.user,
                 {headers: {}}
             )
                 .then((result) => {
                     let dataSignUp = {
                         username: this.user.username,
                         token_access: result.data.access,
                         token_refresh: result.data.refresh,
                    }
                    this.$emit('completedSignUp', dataSignUp)
                 })
                 .catch((error) => {
                     console.log(error)
                     alert("ERROR: Fallo en el registro.");
                 });
                 
         }
     }
}
</script>

<style>
    .signUp_user{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container_signUp_user {
        border: 3px solid #283747;
        border-radius: 10px;
        width: 25%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .signUp_user h2{
        color: #283747;
    }
    .signUp_user form{
        width: 70%;
    }
    .signUp_user input{
        height: 40px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;
        border: 1px solid #283747;
    }
    .signUp_user button{
        width: 100%;
        height: 40px;
        color: #E5E7E9;
        background: #283747;
        border: 1px solid #E5E7E9;
        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0 25px 0;
    }
    .signUp_user button:hover{
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }
        
</style>